.createPresetPackage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createPresetPackage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 100px;
}

.createPresetPackage-select{
    border: 2px solid black;
}