.createPresetPackage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createPresetPackage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}