.choosePackage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;


    margin-top: 10px;

}

.choosePackage > * > button{
    padding: 10px 30px;
    border-radius: 40px;

    font-size: 30px;

    margin-bottom: 30px;
}

.choosePackage > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.choosePackage-presetPackage{
    margin-right: 100px;

}